

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}

.web_container {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
}

section {
    padding: 200px 0;
}

.page-wrapper {
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
}

.page-wrapper h5 {
    max-width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 25px;
    font-weight: 600;
}

.page-anchors table thead tr th:nth-child(1),
.page-anchors table tbody tr td:nth-child(1)  {
    width: 10%;
    text-align: center;
}

.page-anchors table thead tr th:nth-child(2),
.page-anchors table tbody tr td:nth-child(2)  {
    width: 30%;
    text-align: left;
}


.page-anchors table thead tr th:nth-child(3),
.page-anchors table tbody tr td:nth-child(3)  {
    width: 45%;
    text-align: left;
}


.page-anchors table thead tr th:nth-child(4),
.page-anchors table tbody tr td:nth-child(4)  {
    width: 15%;
    text-align: center;
}

.page-anchors table {
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
    margin-top: 40px;
    width: 100%;
}

.page-anchors table thead tr th:nth-child(1),
.page-anchors table thead tr th:nth-child(2),
.page-anchors table thead tr th:nth-child(3),
.page-anchors table thead tr th:nth-child(4) {
    background: #c3c5f8;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 600;
}

.page-anchors table tbody tr td:nth-child(1),
.page-anchors table tbody tr td:nth-child(2),
.page-anchors table tbody tr td:nth-child(3),
.page-anchors table tbody  {
    background: #eff0ff;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}


.page-anchors table tbody:nth-child(even) tr td:nth-child(1),
.page-anchors table tbody:nth-child(even) tr td:nth-child(2),
.page-anchors table tbody:nth-child(even) tr td:nth-child(3),
.page-anchors table tbody:nth-child(even)  {
    background: #ffffff;
    padding: 20px 0;
}